Repository fossasia/pslab-app, pull requests merged in 2024-12, with the labels that each got.

#2586 fix: add red border to TextViews of screen for MPU925X
  app/src/main/res/layout/sensor_ads1115.xml
  app/src/main/res/layout/sensor_bmp180.xml
  app/src/main/res/layout/sensor_ccs811.xml
  app/src/main/res/layout/sensor_hmc5883l.xml
  app/src/main/res/layout/sensor_mlx90614.xml
  app/src/main/res/layout/sensor_mpu925x.xml
  app/src/main/res/layout/sensor_sht21.xml
  app/src/main/res/layout/sensor_tsl2561.xml
  app/src/main/res/layout/sensor_vl53l0x.xml
  app/src/main/res/values/dimens.xml
Labels: Instrument: Sensors

#2588 fix: prevent crash if invalid host is entered
  app/src/main/java/io/pslab/fragment/ESPFragment.java
Labels: Bug

#2593 fix: unnecessary issue of commands in the Oscilloscope
  app/src/main/java/io/pslab/activity/OscilloscopeActivity.java
Labels: Instrument: Oscilloscope, Fix

#2559 fix: fixed errors in Power Source values
  app/src/main/java/io/pslab/activity/PowerSourceActivity.java
Labels: Instrument: Power Source, Fix

#2576 fix: state lost on orientation change in sensor activities
  app/src/main/java/io/pslab/communication/sensors/VL53L0X.java
  app/src/main/java/io/pslab/sensors/AbstractSensorActivity.java
  app/src/main/java/io/pslab/sensors/SensorADS1115.java
  app/src/main/java/io/pslab/sensors/SensorAPDS9960.java
  app/src/main/java/io/pslab/sensors/SensorBMP180.java
  app/src/main/java/io/pslab/sensors/SensorCCS811.java
  app/src/main/java/io/pslab/sensors/SensorHMC5883L.java
  app/src/main/java/io/pslab/sensors/SensorMLX90614.java
  app/src/main/java/io/pslab/sensors/SensorMPU6050.java
  app/src/main/java/io/pslab/sensors/SensorMPU925X.java
  app/src/main/java/io/pslab/sensors/SensorSHT21.java
  app/src/main/java/io/pslab/sensors/SensorTSL2561.java
  app/src/main/java/io/pslab/sensors/SensorVL53L0X.java
  app/src/main/res/layout/sensor_ads1115.xml
  app/src/main/res/layout/sensor_apds9960.xml
  app/src/main/res/layout/sensor_bmp180.xml
  app/src/main/res/layout/sensor_ccs811.xml
  app/src/main/res/layout/sensor_control_dock.xml
  app/src/main/res/layout/sensor_hmc5883l.xml
  app/src/main/res/layout/sensor_mlx90614.xml
  app/src/main/res/layout/sensor_mpu6050.xml
  app/src/main/res/layout/sensor_mpu925x.xml
  app/src/main/res/layout/sensor_sht21.xml
  app/src/main/res/layout/sensor_tsl2561.xml
  app/src/main/res/layout/sensor_vl53l0x.xml
  app/src/main/res/values-ar/strings.xml
  app/src/main/res/values-pl/strings.xml
  app/src/main/res/values-ru/strings.xml
  app/src/main/res/values-si/string.xml
  app/src/main/res/values/strings.xml
Labels: Enhancement, Instrument: Sensors, java
