Repository fossasia/pslab-app, pull requests merged in 2024-11, with the labels that each got.

#2560 fix: fixed Logic Analyzer
  app/src/main/java/io/pslab/communication/ScienceLab.java
  app/src/main/java/io/pslab/communication/digitalChannel/DigitalChannel.java
  app/src/main/java/io/pslab/fragment/LALogicLinesFragment.java
Labels: Instrument: Multimeter, Instrument: Logic Analyzer, Fix

#2562 chore: configure workflows for Flutter app
  .github/actions/android/action.yml
  .github/actions/common/action.yml
  .github/actions/ios/action.yml
  .github/workflows/pull-request-comment.yml
  .github/workflows/pull-request.yml
  .github/workflows/push-event.yml
Labels: Chore

#2568 fix: fix invalid values for Vpp and Vp- in Oscilloscope
  app/src/main/java/io/pslab/activity/OscilloscopeActivity.java
  app/src/main/java/io/pslab/adapters/OscilloscopeMeasurementsAdapter.java
Labels: Instrument: Oscilloscope, Fix

#2571 fix: don't forget menu state when Fragment is changed in Oscilloscope
  app/src/main/java/io/pslab/activity/OscilloscopeActivity.java
Labels: Instrument: Oscilloscope, Fix

#2575 fix: prevent crash when PSLab board is connected to phone before first app start
  app/src/main/java/io/pslab/activity/MainActivity.java
Labels: Fix

#2577 chore: configure semantic validation
  .github/workflows/semantic_lint.yml
Labels: Chore, github_actions

#2578 chore: configure semantic validation
  .github/workflows/semantic_lint.yml
Labels: Chore, github_actions

#2579 chore: enable version updates for Github Actions
  .github/dependabot.yml
Labels: Chore
